.cta-style-one {
  background: transparent url(../img/footer/footer-bg.png) no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 150px;
  h3,
  p {
      margin: 0;
  }
  .span-text {
    margin-bottom: 10px;
    color: #227b7e;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400px;
    letter-spacing: 2px;
    a {
      color: #ffffff;
    }
  }
  h3 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 100;
    strong {
      font-weight: 400;
    }
  }
  .btn-box {
    padding-top: 120px;
  }
  button.banner-btn {
    width: 183px;
    height: 55px;
    line-height: 51px;
    display: inline-block;
    vertical-align: middle;
    background: $gradient-reverse;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #fff;
    border-radius: 60px;
    transition: all .4s ease;
    padding: 3px;
    font-weight: 400;
    &:hover {
      background:#fff;
      color: #343434;
      border-color: #fff;
    }
    &.style-two {
      margin-left: 16px;
      border-color: #ffffff;
      color: #343434;
      background: #FFFFFF;
      // i {color: #343434;}
      &:hover {
        background: $gradient-reverse;
        color: #343434;
        // border-color:  $gradient-reverse;
        color: #fff;
        // i {color: #fff;}
      }
    }
  }
  a.cta-btn {
    width: 260px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: drop-shadow-converter($header-color, $angle: 90, $distance: 10px, $spread: 0, $size: 25px, $opacity: 25%);
    text-align: left;
    transition: all .4s ease;
    border-radius: 60px;
    text-decoration: none;
    i {
        border-radius: 27.5px;
        display: inline-block;
        vertical-align: middle;
        width: 71px;
        font-size: 22px;
        line-height: 75px;
        text-align: center;
        transition: all .4s ease;
        &.fab {
          font-size: 26px;
        }
    }
    .text {
      display: inline-block;
      vertical-align: middle;
      padding: 17px 0;
      padding-left: 15px;
      text-align: left;
      height: 75px;
      .tag-line {
        font-weight: 300;
        font-size: 12px;
        line-height: 1em;
        display: block;
      }
      .name {
        font-weight: 400;
        font-size: 26px;
        line-height: 1em;
        display: block;
      }
    }
  }
  a.cta-btn.style-one {
    background: $gradient-reverse;
    color: #fff;
    width: 210px;    
    &:hover {
      background:#ffffff;
      color: #343434;
    }
  }
  a.cta-btn.style-two {
    margin-left: 20px;
    background: #ffffff;
    color: #343434;
    width: 210px;
    &:hover {
      background: $gradient-reverse;
      color: #fff !important;
    }
  }
  .footer-bottom {
    padding: 50px;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    background: $header-color;
    border-top: solid 1px;
    margin-top: 120px;
  }
}


.subscribe-style-one {
  padding: 50px 0px 25px;
	background: transparent;
	form.subscribe-form {
		text-align: center;
		input, button {
      border: none;
      outline: none;
      background-color: transparent;
    }
		input {
      width: 100%;
      max-width: 530px;
      height: 65px;
      display: inline-block;
      background:#fff;
      padding-left: 30px;
      font-size: 16px;
      color: #555556;
      border-radius: 60px;
			@include placeholder {color: #555556;}
		}
		button[type=submit] {
      width: 200px;
      height: 65px;
      vertical-align: middle;
      margin-left: 10px;
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 12px;
      letter-spacing: .2rem;
      font-weight:400;
      transition: all .4s ease;
			&:hover {
        background:#343434;color: #fff;
      }
		}
	}
}

@media (max-width: 568px) {
  .cta-style-one {
    background: $header-color;
    a.cta-btn {
      &.style-two {
        margin-left: 0px;
        margin-top: 20px;
      }
    }
  }
  .subscribe-style-one {
    button {
      margin-top: 20px;
      
    }
  }
}