header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
  background-size: cover;
  background-repeat: no-repeat;
  a strong {
    color: white;
    font-weight: 500;
    text-decoration: underline;
  }
  h1 {
    font-weight: 800;
    font-size: 50pt;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
  p {
    font-size: 13;
  }
  span {
    font-size: 12;
  }
  p, span {
    font-weight: 300;
  }
}
// Responsive
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
    h1 {
      font-size: 50pt;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }
  }
}

// Xs devices
@media (min-width: 350px) { }

@media (min-width: 414px) { }

@media (max-width: 576px) {
  h1 {
    font-size: 45pt !important;
  }
}

@media (max-width: 404px) {
  h1 {
    font-size: 35pt !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
