.sec-title {
  margin-bottom: 60px;
  h3 {
    margin: 0;
    color: #227b7e;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
  }
  span {
    color: #227b7e;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
  }
  h3 {
    font-size: 16px;
    
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 10px;
  }
  &.style-two {
    span   {
      color: #555556;
      font-weight: 400;
      font-size: 16px;
    }
  }
  p{
    font-weight: 100;
    font-size: 16px;
    line-height: 36px;
  }
  h1{
    color: #073948;
  }
}

.sec-pad {
  padding: 120px 0;
}
