@mixin body-font() {
  // font-family: 'Lato';
  font-family: 'Rubik', sans-serif;
}

@mixin heading-font() {
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  // font-family: 'Montserrat';
}

@mixin placeholder {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @content;
  }
  &::-moz-placeholder { /* Firefox 19+ */
      @content;
  }
  &:-ms-input-placeholder { /* IE 10+ */
      @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
      @content;
  }
}
