.grow-style-two {
  img {
    width: inherit;
  }
}
.grow-style-two .row + .row {
    margin-top: 120px;
}
.grow-style-two .grow-content-two {
  padding-top: 70px;
}
.grow-style-two .grow-content-two span {
  display: block;
}
.grow-style-two .grow-content-two h3, .grow-style-two .grow-content-two p {
  margin: 0;
}
.grow-style-two .grow-content-two span {
  margin-bottom: 10px;
  color: #227b7e;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400px;
  letter-spacing: 2px;
}
.grow-style-two .grow-content-two h3 {
  font-size: 40px;
  color: #073948;
  font-weight: 100;
  margin-bottom: 50px;
  strong {
    font-weight: 400;
  }
}
.grow-style-two .grow-content-two p {
  color: #555556;
  font-weight: 100;
  font-size: 16px;
  line-height: 36px;
}
.grow-style-two .grow-content-two .grow-btn-two {
  margin-top: 50px;
  display: inline-block;
  vertical-align: middle;
  background: #4c1da2;
  background: -webkit-gradient(left top, right top, color-stop(0%, #227b7e), color-stop(100%, #073948));
  background: -webkit-gradient(linear, left top, right top, from(#227b7e), to(#073948));
  background: linear-gradient(to right, #227b7e 0%, #073948 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227b7e', endColorstr='#073948', GradientType=1 );
  color: #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
  width: 190px;
  height: 55px;
  border-radius: 27.5px;
  overflow: hidden;
  line-height: 55px;
  font-weight: 400;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.grow-style-two .grow-content-two .grow-btn-two:before {
  background: #343434;
  border-radius: 27.5px;
}





