.section-one {
  background-image: url(../img/section1/banner-map.png), url(../img/section1/banner-bg.png);
  background-position: center center, center center;
  background-size: 1280px, cover;
  background-repeat: no-repeat;
  padding-top: 130px;
  height: 920px;
  overflow: hidden;
  .theme-container {
    margin-left: auto;
    margin-right: auto;

    img {
      padding-top: 100px;
      width: inherit;
    }
  }
  .banner-content {
    padding-top: 100px;
    h1, p {
      margin: 0;
      color: #ffffff;
    }
    h1 {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 25px;
    }
    p {
      line-height: 1.5;
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 2px;
      padding-bottom: 20px;
    }
    a.banner-btn {
      width: 183px;
      height: 55px;
      line-height: 51px;
      display: inline-block;
      vertical-align: middle;
      background: $gradient-reverse;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: .2rem;
      color: #fff;
      border-radius: 27.5px;
      transition: all .4s ease;
      padding: 3px;
      font-weight: 400;
			&:hover {
        background:#fff;
        color: #343434;
        border-color: #fff;
			}
			&.style-two {
        margin-left: 16px;
        border-color: #ffffff;
        color: #343434;
        background: #FFFFFF;
				// i {color: #343434;}
				&:hover {
          background: $gradient-reverse;
          color: #343434;
          // border-color:  $gradient-reverse;
          color: #fff;
					// i {color: #fff;}
				}
			}
		}
  }
}

