.section-two {
  .single-feature-style-two {
      box-shadow: drop-shadow-converter(#000000, $angle: 90, $distance: 10px, $spread: 0, $size: 25px, $opacity: 5%);
      background: #FFFFFF;
      display: block;
      text-align: center;
      padding: 70px 30px;
      height: 400px;
      &:before {
          background: $primary;
      }
      .icon-box {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          width: 55px;
          height: 55px;
          img {
            width: inherit;
          }
          // &:before {
          //     content: '';
          //     width: 55px;
          //     height: 55px;
          //     background: $primary;
          //     position: absolute;
          //     top: -15px;
          //     left: -15px;
          //     border-radius: 50%;
          //     opacity: .1;
          //     transition: all .4s ease;
          // }
      }
      i {
          color: $primary;
          transition: all .4s ease;
          font-size: 62px;
          position: relative;
      }
      h3,
      p {
          margin: 0;
      }
      h3 {
          color: #073948;
          font-size: 20px;
          font-weight: 500;
          margin-top: 35px;
          margin-bottom: 30px;
      }
      p {
          font-size: 16px;
          font-weight: 100;
          line-height: 30px;
          color: #555556;
      }
      &:hover {
          i,
          h3,
          p {
              color: #fff;
          }
          .icon-box {
              img.ecosystem {
                content: url('../img/section2/Blockchain\ Icon\ -\ White.png');
              }
              img.infrastructure {
                content: url('../img/section2/Computer\ Icon\ -\ White.png');
              }
              img.protocol {
                content: url('../img/section2/Protocol\ Icon\ -\ White.png');
              }
              &:before {
                  opacity: 1;
                  background: rgba(#fff, .1);
              }
          }
      }
  }
}
