// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #003240 !default;
$secondary: #227B7E !default;
$header-color: #091216 !default;
$gray: #F3F3F3 !default;
$blue-green: #227B7E !default;
$gradient: linear-gradient(to right, #073948 0%,#227b7e 99%) !default;
$gradient-reverse: linear-gradient(to right, #227b7e 1%,#073948 100%) !default;
$gradient-middle: linear-gradient(to bottom, #073948 0%,#227b7e 50%,#073948 100%);
