$dark: #091216;
$primary: #073948;
$secondary: #227b7e;
$success: #09d8aa;

$enable-rounded: false;
$font-family-base: "Poppins", sans-serif;
$font-weight-base: 400;
$font-size-base: 1.125rem;
$headings-font-family: "Poppins", sans-serif;
$headings-font-weight: 700;
$navbar-nav-link-padding-x: 2rem;
$hamburger-layer-color: #fff;
$hamburger-hover-opacity: 1;
// $body-bg: #f3f3f3;
$body-color: $primary;

$btn-font-weight: bold;
$btn-padding-y: 0.75rem;
$navbar-padding-y: 1rem;

$navbar-dark-color: #fff;
$navbar-dark-hover-color: $success;
$navbar-dark-active-color: $success;
