<section id="about" class="page-section about-section text-center">
  <div class="container">
    <h4 class="section-sub-heading">about us</h4>
    <h2 class="section-heading">Meet Toniq Labs</h2>
    <div class="row gy-5 d-flex justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <div class="staff-member">
          <img src="./images/staff/stephen.png" alt="Stephen Andrews" />
          <h4>Stephen Andrews</h4>
          <h6>CEO and CTO</h6>
          <p>
            Stephen is a senior developer with over ten years experience in web,
            mobile and blockchain development.
          </p>
          <div class="staff-member__social">
            <a
              target="_blank"
              rel="noopener"
              href="https://az5sd-cqaaa-aaaae-aaarq-cai.ic0.app/u/stephen"
              ><icon src="Distrikt.svg"></icon
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="staff-member">
          <img src="./images/staff/Bob.png" alt="Bob Bodily" />
          <h4>Bob Bodily, Phd</h4>
          <h6>CPO</h6>
          <p>
            Bob leads product strategy around NFTs, DAOs, and P2E games. He has
            a PhD in Instructional Technology.
          </p>

          <div class="staff-member__social">
            <a
              target="_blank"
              rel="noopener"
              href="https://az5sd-cqaaa-aaaae-aaarq-cai.ic0.app/u/bob"
              ><icon src="Distrikt.svg"></icon></a
            ><a
              target="_blank"
              rel="noopener"
              href="https://twitter.com/BobBodily"
              ><icon src="Twitter.svg"></icon></a
            ><a
              target="_blank"
              rel="noopener"
              href="https://www.linkedin.com/in/robertbodily/"
              ><icon src="Linkedin.svg"></icon
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="staff-member">
          <img src="./images/staff/Steve.png" alt="Steve Erickson" />
          <h4>Steve Erickson</h4>
          <h6>CMO</h6>
          <p>
            Steve is an ITS project leader experienced in marketing systems,
            development, and administration.
          </p>
          <div class="staff-member__social">
            <a
              target="_blank"
              rel="noopener"
              href="https://az5sd-cqaaa-aaaae-aaarq-cai.ic0.app/u/EasySteve"
              ><icon src="Distrikt.svg"></icon></a
            ><a
              target="_blank"
              rel="noopener"
              href="https://twitter.com/EasyStevie_e"
              ><icon src="Twitter.svg"></icon></a
            ><a
              target="_blank"
              rel="noopener"
              href="https://www.linkedin.com/in/steverickson/"
              ><icon src="Linkedin.svg"></icon
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="staff-member">
          <img src="./images/staff/Max.png" alt="Max Ogles" />
          <h4>Max Ogles</h4>
          <h6>COO</h6>
          <p>
            Max previously lead operations and product as an executive at
            Chess.com, Banyan, and Mobile Coach.
          </p>
          <div class="staff-member__social">
            <a
              target="_blank"
              rel="noopener"
              href="https://twitter.com/maxogles"
              ><icon src="Twitter.svg"></icon></a
            ><a
              target="_blank"
              rel="noopener"
              href="https://www.linkedin.com/in/maxogles/"
              ><icon src="Linkedin.svg"></icon
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="staff-member">
          <img src="./images/staff/Mac.png" alt="Steve Erickson" />
          <h4>Mac Yap</h4>
          <h6>Lead Design</h6>
          <p>
            Mac is a professional designer and UI/UX expert, with experience in
            mobile and web design.
          </p>
          <div class="staff-member__social">
            <a
              target="_blank"
              rel="noopener"
              href="https://az5sd-cqaaa-aaaae-aaarq-cai.ic0.app/u/Jackpotwinner"
              ><icon src="Distrikt.svg"></icon></a
            ><a
              target="_blank"
              rel="noopener"
              href="https://twitter.com/jackpotwinner21"
              ><icon src="Twitter.svg"></icon></a
            ><a
              target="_blank"
              rel="noopener"
              href="https://www.linkedin.com/in/mac-yap-74a71348/"
              ><icon src="Linkedin.svg"></icon
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
