<footer
  id="footer"
  class="site-footer page-section text-white text-center mt-5 mt-sm-0"
>
  <div class="container px-4 overflow-hidden">
    <h4 class="section-sub-heading">Contact us</h4>
    <h2 class="section-heading text-white">Connect with us</h2>
    <div class="row justify-content-center g-5">
      <div class="col">
        <a target="_blank" rel="noopener" href="https://twitter.com/toniqlabs">
          <icon src="Twitter.svg"></icon>
          Twitter
        </a>
      </div>
      <div class="col">
        <a target="_blank" rel="noopener" href="https://github.com/Toniq-Labs">
          <icon src="github.svg"></icon>
          Github
        </a>
      </div>
      <div class="col">
        <a target="_blank" rel="noopener" href="https://discord.gg/toniqlabs">
          <icon src="Discord.svg"></icon>
          Discord
        </a>
      </div>
      <div class="col">
        <a target="_blank" rel="noopener" href="https://toniqlabs.medium.com/">
          <icon src="Medium.svg"></icon>
          Medium
        </a>
      </div>
      <div class="col">
        <a
          target="_blank"
          rel="noopener"
          href="https://www.youtube.com/channel/UC9bN51qCCbbz4A1kftZlBPw"
        >
          <icon src="Youtube.svg"></icon>
          Youtube
        </a>
      </div>
      <div class="col">
        <a
          target="_blank"
          rel="noopener"
          href="https://az5sd-cqaaa-aaaae-aaarq-cai.ic0.app/u/Toniq"
        >
          <icon src="Distrikt.svg"></icon>
          Distrikt
        </a>
      </div>
      <div class="col">
        <a
          target="_blank"
          rel="noopener"
          href="https://www.linkedin.com/company/toniq-labs/"
        >
          <icon src="Linkedin.svg"></icon>
          LinkedIn
        </a>
      </div>
    </div>
  </div>
</footer>
<div
  class="copyright border-top border-white bg-dark py-3 text-white text-center"
>
  <div class="container">
    <p class="mb-0">&copy; Toniq Labs 2021. All Rights Reserved</p>
  </div>
</div>
