<section id="games" class="page-section pb-0">
  <div class="container overflow-hidden">
    <div class="text-center">
      <h4 class="section-sub-heading">BLOCKCHAIN GAMING</h4>
      <h2 class="section-heading">Toniq Games</h2>
    </div>
    <div class="row gx-lg-5 justify-content-between">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <img
          src="./images/logos/cronic-critters.png"
          alt="Cronic Critters"
          class="img-fluid mb-5"
        />

        <p class="mb-0">
          The first NFT on the Internet Computer. Mini-game ecosystem and
          play-to-earn economy: incorporates breeding, battle stats, wearables
          and more!
        </p>
        <ul class="my-5">
          <li>Collect your favourites</li>
          <li>Breed new cronics</li>
          <li>Customize your cronics appearance</li>
          <li>Play mini-games to earn CRN</li>
        </ul>
        <a href="https://linktr.ee/CronicsP2E" class="btn btn-outline-primary"
          ><span>Links</span></a
        >
      </div>
      <div class="col-lg-6">
        <img
          src="./images/games/Cronic__Banner.png"
          alt="Cronic game"
          class="img-fluid"
          width="100%"
        />
        <div class="toniq-game-studio">
          <img
            src="./images/logos/toniq-game-studio.png"
            alt="Toniq Game Studio"
            class="img-fluid"
          />
          <a href="https://cronic.toniqlabs.com/" class="btn btn-primary"
            >login</a
          >
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-lg-5 gx-lg-5 justify-content-between">
      <div class="col-lg-6">
        <img
          src="./images/games/magni.png"
          alt="Rise of the magni"
          class="img-fluid"
          width="100%"
        />
        <div class="toniq-game-studio">
          <img
            src="./images/logos/toniq-game-studio.png"
            alt="Toniq Game Studio"
            class="img-fluid"
          />
          <a
            href="https://riseofthemagni.com/"
            target="_blank"
            rel="noopener"
            class="btn btn-primary"
            >Play</a
          >
        </div>
      </div>
      <div class="col-lg-6 order-first order-lg-last mb-5 mb-lg-0">
        <div class="text-center">
          <img
            src="./images/logos/magni-logo.png"
            alt="Rise of the Magni"
            class="img-fluid mb-5"
          />
        </div>
        <div class="text-center">
          <a
            href="https://toniqlabs.gitbook.io/rise-of-the-magni/"
            class="mx-2 my-1 btn btn-outline-primary"
            ><span>Guide</span></a
          >
          <a
            href="https://riseofthemagni.com/"
            class="mx-2 my-1 btn btn-primary"
            >Play</a
          >
        </div>
        <div class="my-5">
          <p>
            A strategy game built directly on the Internet Computer. Rise of the
            Magni allows players to collect, trade and upgrade adorable looking
            heroes, named Magni, in a turn-based tactical game.
          </p>
          <p class="mb-0">
            Based in the world of Tora, you are a young commander of a small
            regiment of Magni - can you rise through the ranks and defeat your
            foes at all costs?
          </p>
        </div>
        <div class="text-center follow-link">
          <a href="https://toniqlabs.gitbook.io/rise-of-the-magni/"
            >Follow us on: <icon src="Twitter.svg"></icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
