<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        src="./images/logos/toniq-labs.png"
        alt="Toniq Labs logo"
        class="img-fluid"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products">Our Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#games">Our Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact</a>
        </li>
      </ul>
    </div>
    <div class="nav__icons">
      <a target="_blank" rel="noopener" href="https://twitter.com/toniqlabs"
        ><icon src="Twitter.svg"></icon
      ></a>
      <a target="_blank" rel="noopener" href="https://github.com/Toniq-Labs"
        ><icon src="github.svg"></icon
      ></a>
      <a target="_blank" rel="noopener" href="https://discord.gg/toniqlabs"
        ><icon src="Discord.svg"></icon
      ></a>
      <a target="_blank" rel="noopener" href="https://toniqlabs.medium.com/"
        ><icon src="Medium.svg"></icon
      ></a>
      <a
        target="_blank"
        rel="noopener"
        href="https://www.youtube.com/channel/UC9bN51qCCbbz4A1kftZlBPw"
        ><icon src="Youtube.svg"></icon
      ></a>
    </div>
  </div>
</nav>
