<section id="philosophy" class="page-section philosophy pb-0">
  <div class="container overflow-hidden">
    <div class="text-center">
      <h4 class="section-sub-heading">PHILOSOPHY</h4>
      <h2 class="section-heading">The Toniq Way</h2>
    </div>
    <div class="row justify-content-center gy-4 gy-lg-5 gx-lg-5">
      <div class="col-sm-6 col-lg-4">
        <div class="philosophy__box">
          <icon src="boxes.svg"></icon>
          <h4>Decentralize Everything</h4>
          <p>
            We believe that trust-free applications are the future, where trust
            is inherently built into applications from the very first line of
            code
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="philosophy__box">
          <icon src="computer.svg"></icon>
          <h4>Infinite Infrastructure</h4>
          <p>DFINITY's</p>
          <p>
            <span class="fw-bold">Internet Computer</span> allows us to develop
            highly available and scalable services. Welcome to the future!
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="philosophy__box">
          <icon src="circles.svg"></icon>
          <h4>Unstoppable Future</h4>
          <p>
            The blockchain allows us to develop applications that are free from
            corporate and government control, allowing for
            <span class="fw-bold">unstoppable usage and growth</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
