<section id="products" class="page-section pb-0 our-products">
  <div class="container overflow-hidden">
    <div class="text-center">
      <h4 class="section-sub-heading">OUR PRODUCTS</h4>
      <h2 class="section-heading">What we're building</h2>
    </div>

    <div class="corner-box row mx-0 mb-4 mb-lg-5">
      <div class="col-lg-6 text-center">
        <img
          class="img-fluid mb-5"
          src="./images/logos/exponent.png"
          alt="Exponent"
        />
        <a
          target="_blank"
          rel="noopener"
          href="https://toniqlabs.medium.com/exponent-unlimited-exchange-platform-2106a9f76772"
          class="btn btn-primary"
          >Learn more</a
        >
      </div>
      <div class="col-lg-6 mt-5 mt-lg-0">
        <p class="mb-0 pb-4">
          We are currently building our token platform Exponent which is the
          foundation of all our other projects. Exponent enhances the on-chain
          development experience through a variety of tooling. It can be easily
          compared to Enjin (ENJ) on Ethereum (ETH).
        </p>
        <h5 class="my-4">There are 3 main components of Exponent</h5>
        <ul class="list-unstyled">
          <li>
            <span class="fw-bold">EXT -</span> the extendable token standard for
            the Internet Computer
          </li>
          <li>
            <span class="fw-bold">Spatial-</span> a headless-wallet for
            invisible token management
          </li>
          <li>
            <span class="fw-bold">eDex protocol -</span> built-in exchange
            protocol
          </li>
          <li>
            <span class="fw-bold">Toniq SDK -</span> tooling for developers
          </li>
        </ul>

        <div class="follow-link">
          Follow us on:
          <a
            target="_blank"
            rel="noopener"
            href="https://twitter.com/exponentpltf?s=21"
            ><icon class="follow-icon" src="Twitter.svg"></icon
          ></a>
          <a
            target="_blank"
            rel="noopener"
            href="https://github.com/Toniq-Labs/exponent"
          >
            <icon class="follow-icon" src="github.svg"></icon>
          </a>
        </div>
      </div>
    </div>

    <div class="row gy-4 gy-lg-5 gx-4 gx-lg-5">
      <div class="col-lg-6">
        <div class="corner-box">
          <div
            class="corner-box__content d-flex h-100 flex-column justify-content-between"
          >
            <div>
              <div class="text-center">
                <div class="product-box__img-wrapper">
                  <img
                    src="./images/logos/entrepot.png"
                    alt="Entrepot logo"
                    class="img-fluid"
                    height="55"
                  />
                </div>
                <div class="my-5">
                  <a
                    href="https://entrepot.app/"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >Explore</a
                  >
                </div>
              </div>
              <p class="mb-5">
                The largest and most trusted NFT marketplace and launchpad on
                the Internet Computer blockchain. Trade digital assets in a
                non-custodial manner without gas fees. Use our self-launch
                portal to generate, mint and launch your NFT collection.
              </p>
              <ul>
                <li>
                  Mint and launch NFT collections through our robust no-code
                  self launch portal (coming soon)
                </li>
                <li>Buy and sell NFTs without gas fees</li>
                <li>Manage NFTs through our intuitive user interface</li>
              </ul>
            </div>
            <div>
              <div class="follow-link">
                <a
                  href="https://twitter.com/EntrepotApp"
                  target="_blank"
                  rel="noopener"
                  >Follow us on:
                  <icon class="follow-icon" src="Twitter.svg"></icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="corner-box">
          <div
            class="corner-box__content d-flex h-100 flex-column justify-content-between"
          >
            <div>
              <div class="text-center">
                <div class="product-box__img-wrapper">
                  <img
                    src="./images/logos/epic-nfts.png"
                    alt="Epic NFTS logo"
                    class="img-fluid"
                  />
                </div>
                <div class="my-5">
                  <a
                    href="https://toniqlabs.medium.com/introducing-epic-nfts-bc3ecb90a782"
                    target="_blank"
                    rel="noopener"
                    class="btn btn-primary"
                    >Learn more</a
                  >
                </div>
              </div>
              <p class="mb-0">
                Our think tank and innovation hub. Epic NFTs was created to push
                the envelope on the Internet Computer via NFTs. We want to bring
                new and exciting software which anyone can use and implement.
                With so many possibilities around NFTs, we decided the best way
                forward was to just start building them.
              </p>

              <h5 class="mt-5">Projects include:</h5>
              <ul>
                <li>Cross Platform Creator NFTs</li>
                <li>Proof of Humanity NFTs</li>
                <li>The Spider DAO</li>
                <li>NFT Tickets / Proof of Attendance</li>
              </ul>
            </div>
            <div>
              <div class="follow-link">
                Follow us on:
                <a
                  target="_blank"
                  rel="noopener"
                  href="https://twitter.com/Epic_NFTs"
                >
                  <icon class="follow-icon" src="Twitter.svg"></icon
                ></a>
                <a
                  target="_blank"
                  rel="noopener"
                  href="https://discord.gg/55YwYHjDmW"
                >
                  <icon class="follow-icon" src="Discord.svg"></icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="corner-box">
          <div
            class="corner-box__content d-flex h-100 flex-column justify-content-between"
          >
            <div>
              <div class="text-center">
                <div class="product-box__img-wrapper">
                  <img
                    src="./images/logos/stoic.png"
                    alt="Stoic by Toniq Labs logo"
                    class="img-fluid"
                  />
                </div>
                <div class="my-5">
                  <a
                    target="_blank"
                    rel="noopener"
                    href="https://www.stoicwallet.com/"
                    class="btn btn-primary"
                    >get started</a
                  >
                </div>
              </div>
              <p>
                Self custodial blockchain wallet for the Internet Computer.
                Provides basic token storage as well as minting and
                distribution.
              </p>
              <ul>
                <li>Manage tokens, stake ICP and top off canisters</li>
                <li>Used to login to applications on the Internet Computer</li>
                <li>
                  Create a wallet with Internet Identity, seed phrase, google,
                  github, twitter or facebook.
                </li>
                <li>Mint and distribute tokens directly in app</li>
              </ul>
            </div>
            <div class="follow-link">
              <a
                target="_blank"
                rel="noopener"
                href="https://twitter.com/StoicWalletApp"
                >Follow us on:
                <icon class="follow-icon" src="Twitter.svg"></icon>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="corner-box">
          <div
            class="corner-box__content d-flex h-100 flex-column justify-content-between"
          >
            <div>
              <div class="text-center">
                <div class="product-box__img-wrapper">
                  <img
                    src="./images/logos/warped-trillions-logo.png"
                    alt="Warped Trillion Cycles logo"
                    class="img-fluid"
                  />
                </div>
                <div class="my-5">
                  <a
                    target="_blank"
                    rel="noopener"
                    href="https://www.wtctoken.com/"
                    class="btn btn-primary"
                    >Explore</a
                  >
                </div>
                <h4 class="mb-4">Wrapped Trillion Cycles</h4>
              </div>
              <p>
                WTC utilize our Extendable Token Standard for DFINITY's Internet
                Computer allowing us to wrap native computation "cycles".
              </p>
              <p>
                These cycles are pegged to 1XDR (approx. $1.44USD) making WTC a
                perfect stable coin, backed by actual computation.
              </p>
            </div>
            <div class="follow-link">
              <a
                target="_blank"
                rel="noopener"
                href="https://twitter.com/WTCycles"
                >Follow us on:
                <icon class="follow-icon" src="Twitter.svg"></icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
